<div class="mt-4" style="margin: 12rem;">
  <form action="/skill/store" method="post">
    <h3>Thêm kỹ năng</h3>
    <input type="text" placeholder="Nhập tên kỹ năng" class="form-control" name="name"/>
    <input type="text" placeholder="Nhập slug" class="form-control" name="slug"/>
    <button class="btn btn-primary" type="submit">Thêm</button>
  </form>
</div>